.calculator {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 300px;
    background-color: rgb(180, 221, 228);
    border-radius: 20px;
}

.calculator-screen {
    width: 100%;
    background-color: #252525;
    color: #fff;
    text-align: right;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
}

.calculator-keys {
    width: 1005;
}

button {
    margin: 2px;
}

.row {
    margin: 5px;
}




